body {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 12px;
    line-height: normal;
    color: black;
}

header {
    padding: 20px 0px;
    background-color: rgb(83, 81, 81);
    text-align: center;
    color: rgb(245, 240, 240);
}

main {
    padding: 30px 0px;

}

.btn {
    background-color: purple;
}

.historyItem {
    background-color: rgb(212, 189, 212);
    border-width: 2pt;
    border-radius: 4pt;
}

.icon {
    width: 64px;
    height: auto;

}

.uv span {
    padding: 5px 8px;
    border-radius: 3px;

}

.forecastDay {
    padding-right: 0;
    padding-left: 0;
}