.header {
    color: whitesmoke;
    background-color: rgb(68, 65, 65);
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: center;
}   
/* style button */
/* style text area */
/* style text */
/* style separate "areas" of weather info */